Source: degu
Section: python
Priority: optional
Maintainer: Jason Gerard DeRose <jderose@novacut.com>
Build-Depends: debhelper (>= 9),
    python3-all (>= 3.3),
    python3-sphinx,
    openssl,
Standards-Version: 3.9.4
X-Python3-Version: >= 3.3
Homepage: https://launchpad.net/degu

Package: python3-degu
Architecture: all
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends},
    openssl,
Suggests: python3-degu-doc
Description: an embedded HTTP server and client library
 FIXME.

Package: python3-degu-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Suggests: python3-degu
Description: an embedded HTTP server and client library (documentation)
 This package provides the documentation for python3-degu.

