#!/usr/bin/make -f

%:
	dh $@ --with=python3 --with=sphinxdoc


override_dh_auto_clean:
	rm -rf build/ doc/_build/

override_dh_auto_build:
	sphinx-build -EW -b html doc/ doc/_build/html/
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py build \
				--executable=/usr/bin/python3; \
	done

override_dh_auto_test:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py test; \
		$$python setup.py build_ext -i; \
		$$python setup.py test; \
	done

override_dh_auto_install:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py install \
				--install-layout=deb \
				--root=$(CURDIR)/debian/python3-degu; \
	done

override_dh_sphinxdoc:
ifneq "$(shell dh_listpackages | grep -- -doc)" ""
	dh_sphinxdoc
endif
